body{
    background-color: #FFDBAF;
    margin: 0px;
}
h1{
    font-size: 45px;
    font-family: fantasy;
}
#cabecera{
    width: 100%;
    border-radius: 0px 0px 15px 0;
    background-color: #CA7B42 ;
    
}

#exterior{
    width: 35px;
    height: 35px;
    background: radial-gradient(circle at 33% 100%, #fed373 4%, #f15245 30%, #d92e7f 62%, #9b36b7 85%, #515ecf);
    border-radius: 30%;
    position: relative;
    bottom: 40px;
    left: 260px;
}

#exterior:after{
    content: '';
    border: 5px solid fff;
    border-radius: 0%;
    width: 30px;
    height: 30px;
    left: 0;
    right: 0;
    position: absolute;
    margin: auto;
    top: 0;
    bottom: 0;
}

#Redes{
    list-style: none;
    line-height: 50px;
}
.aCabecera{
    position: relative; 
    top: 70px; 
    margin: 10px;
    color: white;
}

img{
    width: auto;
    height: 150px;
}

.clearfix::after {
    content: ""; 
    clear: both;
    display: table;
  } 

.LeftContent{
    margin: 35px 35px 15px 0px;
    border: solid 5px;
    border-color: rgb(5, 153, 221);
    background-color: rgba(9, 166, 194, 0.884);
    border-radius: 0 40px 40px 0;
    height: 250px;
    width: 97%;
}

.RightContent{
    margin: 15px 0px 50px 35px;
    border: solid 5px;
    border-color: rgba(133, 5, 172, 0.938);
    background-color: rgb(85, 6, 105);
    height: 250px;
    border-radius: 40px 0 0 40px;
}

.LeftPanels{
    text-align: center;
    margin-right: 170px;
    margin-left: 0px;
    list-style: none;
    border: solid;
    border-color: black;
    background-color: yellow;
    height: 150px;
    width: 130px;
    float: left;
    border-radius: 0px 0px 150px 150px;
}

.RightPanels{
    text-align: center;
    margin-right: 170px;
    margin-left: 0px;
    list-style: none;
    border: solid;
    border-color: black;
    background-color: yellow;
    height: 150px;
    width: 130px;
    float: right;
    border-radius: 0px 0px 150px 150px;
}